@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
    list-style: none;
    font-family: 'Poppins',sans-serif;
}

body{
   width: 100%;
   height: 100vh;
   background-color:black;
   color: #fff;
   position: relative;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 20px;
    /* box-shadow: 0 0 10px white; */
}

header .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:yellowgreen;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px blue;
}

header .navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .navbar ul li a{
    color: #fff;
    font-size: 20px;
    font-weight:600;
}


header .button{
    margin-right:10px;
    border-radius: 15px;
    transition: .4s;
}

header .button .btn{
    width: 130px;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    background-color:transparent;
    border-radius: 15px;
    box-shadow: 0 0 10px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:hover{
    scale: 1.1;
    box-shadow: 0 22px 30px blue;
}


.home{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 75vh;
}

.home .home-content{
    margin-left: 170px;
    margin-top: -60px;
}

.home-content h5{
    font-size: 44px;
    font-weight: bold;
    color: green;
}

.home-content h3{
    font-size: 22px;
    font-weight: bold;
    color: yellowgreen;
}

.home-content p{
    color: gray;
    font-size: 18px;
    font-weight: 500;
}

.home-content  #btn{
    width: 150px;
    padding: 10px;
    border-radius:5px;
    border: none;
    outline: none;
    background-color:yellowgreen;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px blue;
    margin-top:10px;
}